.root {
    -fx-background-image: url("../backgrounds/water.jpg");
}
.button {
    -fx-arc-height: 0px;
    -fx-background-radius: 10;
    -fx-background-color: rgba(178, 255, 255,0.8);
}
.button:hover {
    -fx-background-color: linear-gradient(rgba(178, 255, 255,0.8) 0%,White 0%) !important;
}
.button:pressed{
    -fx-background-color: rgba(0,255,0,0.8) !important;
}

.text-field{
    -fx-background-radius: 10;
    -fx-background-color: rgba(178, 255, 255,0.8);
}